@model PagosAcademicos.Models.ViewModels.DetallesPagoViewModel
@{
    Layout = "MainLayout";
}


<section class="max-w-xl mx-2 md:mx-auto m-4">
    <a href="~/usuario" class="bg-primary px-4 py-2 text-white rounded-md">Volver</a>
    <div class="grid  mt-4">
        <table class="table-auto border-collapse  bg-white shadow-xl">
            <thead>
                <tr>
                    <td class="border-2 text-center p-2 " colspan="2">
                        Detalles de pago
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border-2 p-2">Referencia de pago</td>
                    <td class="border-2 p-2">@Model.Id</td>
                </tr>

                <tr>
                    <td class="border-2 p-2">Monto</td>
                    <td class="border-2 p-2">
                        @Model.Monto.ToString("C")
                    </td>
                </tr>
                <tr>
                    <td class="border-2 p-2">Concepto</td>
                    <td class="border-2 p-2">
                        @Model.Concepto
                    </td>
                </tr>
                <tr>
                    <td class="border-2 p-2">Fecha</td>
                    <td class="border-2 p-2">
                        @Model.Fecha
                    </td>
                </tr>
                <tr>
                    <td class="border-2 p-2">Metodo de pago</td>
                    <td class="border-2 p-2">
                        @Model.MetodoDePago
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>