@model PagosAcademicos.Areas.Admin.Models.ViewModels.IndexAdminViewModel
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "AdminLayout";
}

<section class="max-w-5xl mx-auto mt-4">
    <h3 class="titulo">Información</h3>
    <div class="card-wrap">
        <div class="info">
            <div class="card-header">
                <div class="info-card">
                    <span class="titulo-card">
                        Monto más alto
                    </span>
                    <span class="detalles-card">@Model.MontoMasAlto</span>
                </div>

                <i class="fa-solid fa-money-bill-trend-up icon"></i>

            </div>
            <span class="detalles">
                Pago realizado
            </span>

        </div>
        <div class="info">
            <div class="card-header">
                <div class="info-card">
                    <span class="titulo-card">
                        Último pago
                    </span>
                    <span class="detalles-card">@Model.UltimoPago</span>
                </div>

                <i class="fa-solid fa-receipt icon"></i>

            </div>
            <span class="detalles">
                Pago realizadoay controller
            </span>
        </div>
        <div class="info">
            <div class="card-header">
                <div class="info-card">
                    <span class="titulo-card">
                        Número de pagos
                    </span>
                    <span class="detalles-card">@Model.NumeroPagos</span>
                </div>
                <i class="fa-solid fa-money-bills icon"></i>


            </div>
            <span class="detalles">
                Pagos realizados
            </span>
        </div>
        <div class="info">
            <div class="card-header">
                <div class="info-card">
                    <span class="titulo-card">
                        Fecha del último pago
                    </span>
                    <span class="font-semibold">@Model.FechaUltimoPago.ToLongDateString().ToUpper()</span>
                </div>
                <i class="fa-solid fa-calendar-days icon"></i>

            </div>
            <span class="detalles">
                Último pago
            </span>
        </div>
    </div>

    <div class="tabla">
        <h3 class="maintitle">Datos de pagos</h3>
        <div class="contenido-tabla">
            <table>
                <thead>
                    <tr>
                        <th>Id del pago</th>
                        <th>Fecha</th>
                        <th>Tipo de transacción</th>
                        <th>Concepto</th>
                        <th>Monto</th>
                        <th>Nombre del usuario</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Pagos)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Fecha.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @item.TipoPago.Nombre
                            </td>
                            <td>
                                @item.Concepto
                            </td>
                            <td>
                                @item.Monto
                            </td>

                            <td>
                                @item.Usuario.Nombre
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</section>
